@import "tailwindcss";
@import "tailwindcss/preflight";

/* CRT Terminal Effects */
@keyframes scroll {
  0% {
    top: -5%;
  }
  100% {
    top: 100%;
  }
}

.scanline {
  position: fixed;
  top: -5%;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 221, 0, 0) 0%,
    rgba(0, 221, 0, 1) 50%,
    rgba(0, 221, 0, 0) 100%
  );
  opacity: 0.05;
  animation: scroll 10s linear infinite;
  z-index: 100;
}

.overlay::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#101010 30%, rgba(16, 16, 16, 0.2) 30%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.03),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.03)
    );
  background-size: 100% 3px, 6px 100%;
  z-index: 100;
  pointer-events: none;
}

.overlay::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.2);
  z-index: 100;
  pointer-events: none;
  animation: flicker 0.3s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.15795;
  }
  5% {
    opacity: 0.31511;
  }
  10% {
    opacity: 0.94554;
  }
  15% {
    opacity: 0.2469;
  }
  20% {
    opacity: 0.62031;
  }
  25% {
    opacity: 0.0293;
  }
  30% {
    opacity: 0.00899;
  }
  35% {
    opacity: 0.5344;
  }
  40% {
    opacity: 0.12778;
  }
  45% {
    opacity: 0.52042;
  }
  50% {
    opacity: 0.3823;
  }
  55% {
    opacity: 0.2198;
  }
  60% {
    opacity: 0.9383;
  }
  65% {
    opacity: 0.86615;
  }
  70% {
    opacity: 0.68695;
  }
  75% {
    opacity: 0.55749;
  }
  80% {
    opacity: 0.96984;
  }
  85% {
    opacity: 0.0361;
  }
  90% {
    opacity: 0.24467;
  }
  95% {
    opacity: 0.08351;
  }
  100% {
    opacity: 0.54813;
  }
}
